@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Roboto+Slab:wght@400;500;700&display=swap');
@import './search-sidebar.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply text-base;
    }
    h1,
    .h1,
    h2,
    .h2,
    h3,
    .h3,
    h4,
    .h4,
    h5,
    h6 {
        @apply break-words;
        line-height: 1.2;
    }
}

@layer components {
    .sb-markdown {
        @apply leading-relaxed;
        a {
            @apply underline transition duration-200 ease-in;
        }
        a:hover {
            @apply text-primary;
        }
        b,
        strong {
            @apply font-bold;
        }
        em {
            @apply italic;
        }
        a,
        b,
        strong,
        em {
            @apply break-words;
        }
        p {
            @apply mb-4;
        }
        p:last-child {
            @apply mb-0;
        }
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            @apply font-medium mb-4;
        }
        h1 {
            @apply text-4xl;
        }
        h2 {
            @apply text-3xl;
        }
        h3 {
            @apply text-2xl;
        }
        h4 {
            @apply text-xl;
        }
        h5 {
            @apply text-lg;
        }
        h6 {
            @apply text-base;
        }
        ol,
        ul {
            @apply mb-4;
        }
        ol:last-child,
        ul:last-child {
            @apply mb-0;
        }
        ol {
            @apply list-decimal;
        }
        ul {
            @apply list-disc;
        }
        li > ul,
        li > ol {
            @apply mb-0;
        }
        li {
            @apply ml-5;
        }
        blockquote {
            @apply border-l-4 border-current pl-4 mb-4;
        }
        blockquote:last-child {
            @apply mb-0;
        }
        pre {
            @apply border border-current overflow-x-auto leading-normal p-3 mb-4;
        }
        pre:last-child {
            @apply mb-0;
        }
        code {
            @apply text-sm font-mono tracking-tight;
        }
        hr {
            @apply bg-current border-0 h-px my-6;
        }
        figure {
            @apply mb-4;
        }
        figure:last-child {
            @apply mb-0;
        }
        figcaption {
            @apply leading-normal mt-2 text-sm;
        }
        table {
            @apply w-full border border-current border-collapse text-left mb-4;
        }
        table:last-child {
            @apply mb-0;
        }
        caption {
            @apply text-left mb-2;
        }
        th,
        td {
            @apply border-r border-b border-current p-2;
        }
        th {
            @apply font-medium;
        }
        th:last-child,
        td:last-child {
            @apply border-r-0;
        }
        tr:last-child td {
            @apply border-b-0;
        }
    }

    .sb-component {
        &:not(.sb-component-block) {
            @apply relative;
        }
        &.sb-component-block {
            @apply w-full;
        }
    }

    .sb-card {
        @apply border border-current;
    }
}
